/* ----------------------------------------------------- GUScode | Portafolio */

:root {
    /* Paleta de colores */
    --azul: #5A96C8;
    --violeta: #A181D7;
    --beige: #9E8F77;
    --verde: #5BA056;
    --rojo: #EB6757;
    --amarillo: #AF8D27;
    --naranja: #E2720D;
    --celeste: #508EFE;
    --ceruleo: #5791E6;
    --body: #282b32;
    --panel: #212327;
    --task: #e3d664;


  
    /* fuentes - 2 fuentes */
    --fuente-1: 'Open Sans', sans-serif;
  
    /* estilos generales */ 
    --margen-1: 40px;
    --margen-2: 15px;
    --margen-texto: 10px 40px 10px 40px;
    --margen-titulo: 50px 30px 5px 30px;
    --margen-subtitulo: 20px 30px 5px 30px;
    --ancho-medio: 50%;
}

* {
    font-family: var(--fuente-1);
    color: azure;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body);
}

.linea {
    width: 100%;
    height: 5px;
    background-color: var(--panel);
}



.panel {
    background-color: var(--panel);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px; /* Ajusta el ancho según tus necesidades */
    height: 100%;
    overflow: auto; /* Permite el desplazamiento si el contenido es más largo que la pantalla */
}

.panel-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
    
.panel-box-avatar {
    display: block;
    border-radius: 50%;
    margin: auto;
    height: 150px;
}

.panel-box-menu {
    display: block;
    margin: auto;
    list-style-type: none;
}

.panel-box-menu ul {
    list-style-type: none;
    padding-left: 0;   
}

.menu {
    font-size: 1em;
}

.visitado {
    color: var(--ceruleo);
}



ul li {
    padding-bottom: 7px;
}

a {
    text-decoration: none;
}

.section-box {
    margin: 70px 0 70px 260px; 
}
/* --------------------------------------------------------- Sección | Inicio */

.inicio {
    margin-left: 260px;
    margin-top: 11%;
    height: 85vh;
}

h1 {
    font-size: 4em;
    margin-top: 2.5em;
}

.cursor {
    color: var(--amarillo);
    display:block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 32ch;

    animation: typing 3s steps(32), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}


button {
    background-color: var(--ceruleo);
    margin-top: 5%;
    padding: 7px 15px;
    color: var(--panel);
    border-radius: 5px;
    border: none;

}

.inicio-redes {
    margin: 40px auto 15% auto;
    list-style-type: none;
}


.inicio-redes-lista {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.inicio-redes-lista li {
    padding-right: 0px;
}

.boton-redes {
    background-color: var(--body);
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px 13px;
}

.boton-redes:hover {
    background-color: var(--panel);
}

.ph {
    font-size: 2em;
}

.ph-github-logo {
    color: var(--violeta);
}

.ph-whatsapp-logo {
    color: var(--verde);
}

.ph-instagram-logo {
    color: var(--rojo);
}

.ph-linkedin-logo {
    color: var(--amarillo);
}

/* ------------------------------------------------------ Sección | Proyectos */


.proyectos {
    margin-left: 260px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto !important;
    margin-left: 260px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
}
  
.contenedor-imagenes .imagen {
    width: 45%;
    position: relative;
    height: 300px;
    margin: 10px;
    box-shadow: 0 0 3 0 grey;
}
  
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--panel);
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.overlay-content {
    margin: 50px 5px 5px 5px;
    text-align: center;
}

.task {
    color: var(--task);
}

.ph-check-circle {
    font-size: 0.9em;
}

/* ----------------------------- Media Querys | Proyectos */

@media screen and (max-width:1000px){
    .contenedor-imagenes { 
      width: 95%; 
    }
}
  

@media screen and (max-width:700px){
    .contenedor-imagenes { 
      width: 90%; 
    }
  
    .contenedor-imagenes .imagen { 
      width: 48%; 
    }
}

  
@media screen and (max-width:450px){
    .contenedor-imagenes {
      width: 98%;
    }
  
    .contenedor-imagenes .imagen {
      width: 80%;
    }
}

/* ------------------------------------------------- Sección | Capacitaciones */

.capacitaciones {
    margin-left: 260px;
    margin-top: 50px;
}

.capacitaciones-item {
    margin-top: 3em;
    margin-bottom: 3em;
}

.small {
    font-size: 0.7em;
}


/* --------------------------------------------------------- Sección | Skills */

.skills {
    margin-left: 260px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.skills-lista {
    margin-left: 10%;
}

.skills-titles {
    margin-top: 40px;
}

.skills-lenguajes {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.skills-frameworks {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
}

.skills-herramientas {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}



.skills-lenguajes .imagen-logo {
    position: relative;
    height: 50px;
    margin: 15px;
}

.skills-frameworks .imagen-logo {
    position: relative;
    height: 50px;
    margin: 15px;
}

.skills-herramientas .imagen-logo {
    position: relative;
    height: 50px;
    margin: 15px;
}


.imagen-logo img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}




/* ------------------------------------------------------- Sección | Contacto */

.contacto {
    margin-left: 260px;
    margin-top: 50px;
    margin-bottom: 70px;
}