/* ----------------------------------------------------- GUScode | Portafolio */
@font-face {
    font-family: 'Open Sans';
    src: url('Fuente/OpenSans-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Fira Code';
    src: url('Fuente/FiraCodeNerdFont-Regular.ttf') format('truetype');
    font-display: swap;
}

:root {

    /* Paleta de colores */
    --salmon: hsla(14, 88%, 80%, 1);
    --yellow: hsla(53, 82%, 69%, 1);
    --green: hsla(75, 55%, 60%, 1);
    --cyan: hsla(178, 47%, 67%, 1);
    --purple: hsla(261, 91%, 79%, 1);
    --fuente: hsla(222, 11%, 87%, 1);
    --body: hsla(222, 11%, 18%, 1);
    --panel: hsla(220, 8%, 14%, 1);
    --task: hsla(54, 69%, 64%, 1);

    /* fuentes - 2 fuentes */
    --fuente-1: 'Open Sans', sans-serif; 
    --fuente-2: 'Fira Code';
    --text-size-1: 2.3em;
    --text-size-2: 2em;
    --text-size-3: 1.5em;
    --text-size-4: 1em;
    --text-size-5: 0.9em;
    
}

* {
    font-family: var(--fuente-1);
    color: var(--fuente);
}

html { scroll-behavior: smooth; }

body { background-color: var(--body); }

a { text-decoration: none; }


/* Líneas de separación entre secciones */
.linea-1 {
    width: 100%;
    height: 5px;
    background-color: var(--panel);
}

.linea-2 {
    width: 80%;
    height: 2px;
    background-color: var(--panel);
}

/* Contenedores de Secciones */
.section-box {
    margin: 70px 0 70px 260px; 
}



/* ------------------------------------------------------------ Panel Lateral */

.top {
    display: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.top-avatar {
    display: block;
    margin: 5px auto;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.panel {
    background-color: var(--panel);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px; 
    height: 100%;
}

.panel-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
    
.panel-box-avatar {
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 150px;;
    height: 150px;
}

.panel-box-menu {
    display: block;
    margin: auto;
    list-style-type: none;
}

.panel-box-menu ul {
    list-style-type: none;
    padding-left: 0;   
}

.panel-box-menu ul li {
    padding-bottom: 7px;
}

.panel-menu {
    font-size: 1em;
}

.visitado {
    color: var(--cyan);
}



/* --------------------------------------------------------- Sección | Inicio */

.inicio-titulo {
    font-size: 4em;
    font-weight: 400;
    margin-top: 2.3em;
}
.inicio-cursor {
    display:block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 31ch;
    animation: typing 3s steps(31), blink .5s infinite step-end alternate;
    overflow: hidden;
    color: var(--yellow);
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}



.curriculo {
    display:inline-block;
    background-color: var(--cyan);
    width: 180px;
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
    color: var(--body);
}


.curriculo:hover {
    background-color: var(--panel);
    color: var(--cyan);
}

.curriculo:hover .ico-download::before {
    color: var(--cyan);
}

.inicio-redes {
    margin: 40px auto 15% auto;
    list-style-type: none;
}


.inicio-redes-lista {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.inicio-redes-lista li {
    padding-right: 0px;
}

.boton-redes {
    background-color: var(--body);
    border-radius: 100%;
    border: none;
    margin-right: 10px;
    padding: 10px 13px;
    transform: rotate(0deg);
}

.boton-redes:hover {
    background-color: var(--panel);
    border-color: none;
}





/* ------------------------------------------------------ Sección | Proyectos */

.proyectos {
    margin-left: 260px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto !important;
    margin-left: 260px;
    justify-content: center;
    flex-wrap: wrap;
}
  
.contenedor-imagenes .imagen {
    width: 45%;
    position: relative;
    height: 300px;
    margin: 10px;
}
  
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
  
.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--panel);
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.overlay-content {
    margin: 50px 5px 5px 5px;
    text-align: center;
}



.etiqueta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    height: 30%;
}

.etiqueta p {
    margin: 0;
}

.etiqueta img {
    height: 25px;
    object-fit: fill;
}

.github {
    background-color: var(--body);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin: 20px 40px;
    padding: 10px 13px;  
}


.github:hover {
    background-color: var(--panel);
    border-color: none;
}

.espacio {
    display: inline-block;
    width: 40px;
    margin: 0;
}

/* Colores para texto e íconos de tarjetas de proyectos */
.task {
    color: var(--task);
}

.usuario {
    color: var(--cyan);
}

.django {
    color: var(--green);
}

.link {
    color: var(--salmon);
}

/* ------------------------------------------------- Sección | Capacitaciones */

.capacitaciones-item {
    margin-top: 3em;
    margin-bottom: 3em;
}

.small {
    font-size: 0.7em;
}


.certificacion {
    background-color: var(--panel);
    width: fit-content;
    height: 40px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 0.9em;
}




/* --------------------------------------------------------- Sección | Skills */

.skills-lista {
    margin-left: 10%;
}

.skills-titles {
    margin-top: 40px;
}

.skills-logos {
    display: flex;
    flex-wrap: wrap;
}

.skills-logos .imagen-logo {
    position: relative;
    height: 45px;
    margin: 15px;
}
.skills-logos-box {
    width: 70px;
    text-align: center;
}

.skills-logos-box-p {
    font-family: var(--fuente-2);
    font-size: .7em;
}

.imagen-logo img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imagen-logo img:hover {
    filter: drop-shadow(2px 2px 4px var(--fuente));
}



/* ------------------------------------------------------- Sección | Contacto */

.contacto-redes {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    list-style-type: none;
}

span {
    background-color: var(--body);
}

.fuente-contacto {
    font-family: var(--fuente-2);
}