/* ----------------------------------------------------- GUScode | Portafolio */
@font-face {
    font-family: 'Open Sans';
    src: url('/Styles/fuentes/OpenSans.ttf') format('ttf');
}

:root {
    /* Paleta de colores */
    --salmon: hsla(14, 88%, 80%, 1);
    --yellow: hsla(53, 82%, 69%, 1);
    --green: hsla(75, 55%, 60%, 1);
    --cyan: hsla(178, 47%, 67%, 1);
    --purple: hsla(261, 91%, 79%, 1);
    --fuente: hsla(222, 11%, 87%, 1);
    --body: hsla(222, 11%, 18%, 1);
    --panel: hsla(220, 8%, 14%, 1);
    --task: hsla(54, 69%, 64%, 1);

    /* fuentes - 2 fuentes */
    --fuente-1: 'Open Sans', sans-serif; 
}

* {
    font-family: var(--fuente-1);
    color: var(--fuente);
}

html { scroll-behavior: smooth; }

body { background-color: var(--body); }

a { text-decoration: none; }


/* Líneas de separación entre secciones */
.linea {
    width: 100%;
    height: 5px;
    background-color: var(--panel);
}

/* Contenedores de Secciones */
.section-box {
    margin: 70px 0 70px 260px; 
}


/* ------------------------------------------------------------ Panel Lateral */

.top {
    display: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.top-avatar {
    display: block;
    margin: 5px auto;
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.panel {
    background-color: var(--panel);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px; 
    height: 100%;
}

.panel-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
    
.panel-box-avatar {
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 150px;;
    height: 150px;
}

.panel-box-menu {
    display: block;
    margin: auto;
    list-style-type: none;
}

.panel-box-menu ul {
    list-style-type: none;
    padding-left: 0;   
}

.panel-box-menu ul li {
    padding-bottom: 7px;
}

.panel-menu {
    font-size: 1em;
}

.visitado {
    color: var(--cyan);
}



/* --------------------------------------------------------- Sección | Inicio */

.inicio-titulo {
    font-size: 4em;
    font-weight: 400;
    margin-top: 2.3em;
}
.inicio-cursor {
    display:block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 31ch;
    animation: typing 3s steps(31), blink .5s infinite step-end alternate;
    overflow: hidden;
    color: var(--yellow);
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}


button {
    background-color: var(--cyan);
    margin-top: 5%;
    padding: 7px 15px;
    color: var(--panel);
    border-radius: 5px;
    border: none;

}

.curriculo {
    display:inline-block;
    background-color: var(--cyan);
    width: 180px;
    height: 40px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
    color: var(--body);
}

.curriculo .ph {
    vertical-align: text-bottom;
    color: var(--body);
}

.curriculo:hover {
    background-color: var(--panel);
    color: var(--cyan);
}

.curriculo:hover .ph {
    color: var(--cyan);
}


.inicio-redes {
    margin: 40px auto 15% auto;
    list-style-type: none;
}


.inicio-redes-lista {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.inicio-redes-lista li {
    padding-right: 0px;
}

.boton-redes {
    background-color: var(--body);
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px 13px;
}

.boton-redes:hover {
    background-color: var(--panel);
}

.ph {
    font-size: 2em;
}

.ph-github-logo {
    color: var(--purple);
}

.ph-whatsapp-logo {
    color: var(--green);
}

.ph-instagram-logo {
    color: var(--salmon);
}

.ph-linkedin-logo {
    color: var(--cyan);
}



/* ------------------------------------------------------ Sección | Proyectos */

.proyectos {
    margin-left: 260px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto !important;
    margin-left: 260px;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 3px;
}
  
.contenedor-imagenes .imagen {
    width: 45%;
    position: relative;
    height: 300px;
    margin: 10px;
}
  
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
  
.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--panel);
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.overlay-content {
    margin: 50px 5px 5px 5px;
    text-align: center;
}

/* Colores para texto e íconos de tarjetas de proyectos */
.task {
    color: var(--task);
}

.usuario {
    color: var(--cyan);
}

.django {
    color: var(--green);
}

.link {
    color: var(--salmon);
}

.ph-check-circle,
.ph-calculator,
.ph-user-circle-plus,
.bxl-django {
    font-size: 0.9em;
}

.etiqueta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
    height: 30%;
}

.etiqueta img {
    height: 25px;
    object-fit: fill;
}

.github {
    margin-top: 15px;
}



/* ------------------------------------------------- Sección | Capacitaciones */

.capacitaciones-item {
    margin-top: 3em;
    margin-bottom: 3em;
}

.small {
    font-size: 0.7em;
}

.linea-2 {
    width: 80%;
    height: 2px;
    background-color: var(--panel);
}


/* --------------------------------------------------------- Sección | Skills */

.skills-lista {
    margin-left: 10%;
}

.skills-titles {
    margin-top: 40px;
}

.skills-lenguajes {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
}

.skills-frameworks {
    display: flex;
    width: 30%;
    flex-wrap: wrap;
}

.skills-herramientas {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

.skills-lenguajes .imagen-logo {
    position: relative;
    height: 50px;
    margin: 15px;
}

.skills-frameworks .imagen-logo {
    position: relative;
    height: 50px;
    margin: 15px;
}

.skills-herramientas .imagen-logo {
    position: relative;
    height: 50px;
    margin: 15px;
}


.imagen-logo img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imagen-logo img:hover {
    filter: drop-shadow(2px 2px 4px var(--fuente));
}

/* ------------------------------------------------------- Sección | Contacto */

span {
    background-color: var(--body);
}



/* ------------------------------------------------------------- Media Querys */

@media screen and (max-width:1000px){
    .contenedor-imagenes { 
      width: 95%; 
    }
}
  
@media screen and (max-width:700px){
    .contenedor-imagenes { 
      width: 90%; 
    }
  
    .contenedor-imagenes .imagen { 
      width: 48%; 
    }
}
  
@media screen and (max-width:450px){
    .top { 
        display: flex;
    }

    .panel { display: none; }

    .inicio-titulo {
        font-size: 3em;
        margin-top: 1em;
    }

    .section-box {
        margin: 20px auto; 
    }
    
    .contenedor-imagenes {
      width: 98%;
    }
  
    .contenedor-imagenes .imagen {
      width: 90%;
      height: fit-content;
    }

    /* ------------------------------------- Sección | Skills */
    .linea-2 {
        width: 100%;
    }

    .texto-movil {
        font-size: .8em;
    }
    

}
